.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 25px;
  margin-bottom: 200px;
}

.title {
  font-size: 4rem;
  margin-bottom: 50px;
}

.projectList {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.project {
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cyberBanner {
  width: 100%;
  height: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding-inline: 15px;
  padding-bottom: 40px;
}

.projectTitle {
  font-size: 2.5rem;
}

.desc {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: var(--textColor);
}

.linkContainer {
  display: flex;
  gap: 50px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  color: var(--background);
  background-color: var(--primary);
  width: max-content;
  padding: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 87% 100%, 0 100%);
}

.link:hover {
  background-color: var(--secondary);
  color: black;
}

.imgContainer {
  flex: 1;
  aspect-ratio: 16/9;
  position: relative;
  box-shadow: 2px 2px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

#projects {
  scroll-behavior: smooth;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 3rem;
  }
  .project {
    flex-direction: column;
  }
}

@media screen and (max-width: 648px) {
  .cyberBanner {
    width: 100%;
  }
  .projectList {
    width: 100vw;
  }
  .textContainer {
    width: 100vw;
    padding-inline: 20px;
  }

  .projectTitle {
    font-size: 2rem;
  }
  .imgContainer {
    display: none;
  }
}
